@media (max-width: 359px) {

    /*General*/
    .titlePage {
        display: none;
    }

    .nav-link a{
        display: none;
    }

    .container-2 h2 {
        font-size: 0.8rem;
    }

}

@media (min-width: 360px) and (max-width: 767px) {
    .info-CAC {
        display: flex;
        flex-direction: column;
        /* Cambiar la dirección del flexbox a columna en pantallas pequeñas */
    }

    .logo-cac-contacto {
        width: 70%;
        align-self: center;
        /* Centrar la imagen verticalmente en pantallas pequeñas */
        max-width: 70%;
        /* Reducir el tamaño de la imagen en pantallas pequeñas */
        order: -1;
        /* Cambiar el orden del elemento para que se posicione primero en pantallas pequeñas */
    }

    .datos-intro-cac {
        align-items: center;
        /* Centrar los elementos horizontalmente */
        text-align: center;
        margin: 3%;
    }

    /*General*/
    .titlePage {
        font-size: 10px;
    }

    .nav-link a{
        font-size: 30px;
    }

    .container-2 h2 {
        font-size: 1.2rem;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .info-CAC {
        display: flex;
        flex-direction: column;
        /* Cambiar la dirección del flexbox a columna en pantallas pequeñas */
    }

    .logo-cac-contacto {
        width: 70%;
        align-self: center;
        /* Centrar la imagen verticalmente en pantallas pequeñas */
        max-width: 70%;
        /* Reducir el tamaño de la imagen en pantallas pequeñas */
        order: -1;
        /* Cambiar el orden del elemento para que se posicione primero en pantallas pequeñas */
    }

    .datos-intro-cac {
        align-items: center;
        /* Centrar los elementos horizontalmente */
        text-align: center;
        margin: 3%;
    }
    
    /*General*/
    .titlePage {
        font-size: 10px;
    }

    .nav-link a{
        font-size: 50px;
    }

    .container-2 h2 {
        font-size: 1.6rem;
    }

}

@media (min-width: 1024px) {


    .container-2 h2 {
        font-size: 2rem;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e9f2f9;
    --primary-color: #1b325f;
    --secondary-color: #9cc4e4;
    --third-color: #3a89c9;
    --third-bis-color: #f26c4f;
}

/* *{
    font-family: "Roboto", sans-serif !important;
} */


button p {
    color: #fff;
}

a {
    text-decoration: none;
}

span {
    padding: 5px;
    display: inline-block;
}

/* estilo para el body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--bg-color) !important;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.buttonform {
    height: 40px;
    text-align: center;
    background-color: var(--third-color);
    color: #f0f0f0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--third-color) !important;
    border: 0px !important;
    margin: 5px;
}

.btn-secondary {
    background-color: var(--third-bis-color) !important;
    border: 0px !important;
}

.card {
    box-sizing: border-box !important;
    padding: 0px !important;
}

/* Estilo para el contenedor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centrar {
    margin: 0 auto;
    padding: 0 0.8em;
}

.Nombre {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.NombreWhite {
    font-size: 20px;
    text-align: left;
    color: white;
}

.Texto {
    font-size: 12px;
    text-align: justify;
    padding-bottom: 5%;
}

.TextoMd {
    font-size: 16px;
    text-align: justify;
}

.TextoCard {
    font-size: 12px;
    text-align: justify;
    padding: 12px;
    display: inline-block;
}

.TextoWhiteHeader {
    color: white;
    font-size: 15px;
    text-align: right;
    height: 50% !important;
    padding-right: 6%;
}

.TextoLeft {
    font-size: 12px;
    text-align: left;
}

.Abadged {
    --display: table-cell;
}

.TextMediano {
    font-size: 10px;
}

.fondoTexto {
    background-color: rgba(43, 42, 42, 0.945);
}

.TextoWhite {
    color: white;
    font-size: 13px;
    text-align: justify;
}

.navbar-expand-lg {
    background-color: rgb(65, 64, 64);
    justify-content: right;
}

.bottom {
    background-color: rgb(51, 77, 126);
    justify-content: center;
}

.bg-danger {
    color: white;
}

.bg-info {
    color: white;
}

.bg-secondary {
    color: white;
}

.titlePage {
    font-size: 18px;
    color: white;
}

.navbar a {
    color: white;
    font-size: 14px;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    white-space: normal
}

.a:hover {
    transform: scale(1.05);
    font-size: 16px;
}

.navbar-brand:hover {
    color: var(--third-bis-color);
}

.nav-link:hover {
    color: var(--third-bis-color)
}

.imgBgHeader {
    filter: brightness(50%);
}

.btnHeader {
    display: inline-block;
    margin-right: 1px;
    font-size: 13px;
    margin-top: 10px;
}

/* Page Estudiantes */
.integrantes {
    text-align: center;
    font-size: medium;
    color: darkcyan;
}

.titulo {
    text-align: center;
    font-size: xx-large;
    color: darkcyan
}

/* Cards -  Estilo para la tarjeta */
.card {
    margin: 1em;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    padding: 20px;
}

/* Estilo para el pie de la tarjeta */
.card-footer {
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:hover {
    transform: scale(1.02) translateZ(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

    /* Opciones agregadas */
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.cardTask {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
    max-height: 470px;
    overflow-y: auto;
}

.cardTask:hover {
    --transform: translate(-0.1%, -0.1%);
    --animation: translate 2s linear;
    opacity: 1;
    transform: scale(1.02) translateZ(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

    /* Opciones agregadas */
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.card-header {
    font-size: medium;
    text-align: center;
    font-weight: bold;
}



/* Estilo para el encabezado de la tarjeta 
        .card-header1 {
            text-align: center;
            color: white;
            background-color: red;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
*/
.card-text-task {
    margin-bottom: 0;
    /* Esto quita el espacio debajo de cada línea */
}


.border-card {
    border-color: cornflowerblue;
}

.cardModal {
    margin: 1em;
    --width: 100%;
    border: 1rem;
    /* Cambiamos esto a 80% para móviles */
    background-color: beige;
    border-radius: 5px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fcontacto {
    width: 460px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding-top: 30px;
    background-color: #fbfbfb;
    padding-left: 30px;
}

/* input {
    background-color: #fbfbfb;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F5;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F5;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
} */

#textVerde {
    color: green;
}


/* Suplanta Boostrap*/
.boton-top {
    margin: 5px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.boton {
    background-color:var(--third-color);
    border: 1px var(--third-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    --font-weight : bold ;
}

.boton:hover{
    color: white !important;
    border: 1px solid var(--secondary-color);
    transform: scale(1.00);
}

.boton-footer {
    background-color:var(--primary-color);
    border: 1px var(--primary-color);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.boton-footer:hover{
    border: 1px solid var(--secondary-color);
    transform: scale(1.00);
}

.contenedorTarjetaUsuario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.tarjetaUsuario {
    background-color: whitesmoke;
    height: auto;
    width: 200px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5%;

}

.tarjeta-header {
    background-color: rgb(175, 203, 245);
    height: 40px;
    width: 100%;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    text-justify: distribute;
    border-radius: 5% 0%;
    align-content: center;
}

/* Estilo para el cuerpo de la tarjeta */
.tarjeta-body {
    padding: 15% 5%;
    text-align: start;
    align-content: center;
}

.tarjeta-footer {
    background-color:lightgray;
    height: 40px;
    width: 100%;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    text-justify: distribute;
    border-radius: 5% 0%;
    align-content: center;
}
.card-text-task {
    margin-bottom: 0;
    text-align: justify;
    font-size: 15px;
}

.card-header-PT {
    text-align: center;
    color: black;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: initial;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: static;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: var(--primary-color) !important;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--secondary-color) !important;
}

.lista-grupo{
    background-color: whitesmoke;
    height: auto;
    width: 200px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
}

.dato-comentario {
    display: contents;
    margin: auto;
    color: grey;
    font-size: 10px;
    font-weight: bold;
}

.texto-comentario {
    margin: auto;
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.label-comentario{
    margin: auto;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.flex-login-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-login-center a {
    --color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.flex-login-center  a:hover {
    text-decoration: underline;
    color: black;
}