        /* estilo para el body */
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: beige;
            height: 100%;
            width: 100%;
        }

        html {
            height: 100%;
            width: 100%;
        }

        footer {
            --display: flex;
            align-items: center;
            margin-top: auto;
            position: static;
            bottom: 0;
            height: 100px;
            width: 100%;
        }


        /* Media query para pantallas medianas (tabletas, etc.) */
        @media (min-width: 768px) {
            .card {
                width: 80%;
                /* La tarjeta ocupará el 50% del ancho de la pantalla en tabletas */
            }
        }

        /* Media query para pantallas grandes (ordenadores de escritorio, etc.) */
        @media (min-width: 1024px) {
            .card {
                width: 30%;
                /* La tarjeta ocupará el 20% del ancho de la pantalla en ordenadores de escritorio */
            }
        }

        /* Estilo para el contenedor */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .centrar {
            margin: 0 auto;
            padding: 0 0.8em;
        }

        /* Estilo para los botones */
        /*.btn {
            color: white;
            --background-color: black;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            display: block;
        }*/

        .Nombre {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }


        .NombreWhite {
            font-size: 20px;
            text-align: left;
            color: white;
        }

        .Texto {
            font-size: 12px;
            text-align: justify;
            padding-bottom: 5%;
        }

        .TextoMd {
            font-size: 16px;
            text-align: justify;
        }

        .TextoCard {
            font-size: 12px;
            text-align: justify;
            padding: 12px;
            display: inline-block;
        }

        .TextoWhiteHeader {
            color: white;
            font-size: 15px;
            text-align: right;
            height: 50% !important;
            padding-right: 6%;
        }

        .TextoLeft {
            font-size: 12px;
            text-align: left;
        }

        .Abadged {
            --display: table-cell;
        }

        .TextMediano {
            font-size: 10px;
        }

        .fondoTexto {
            background-color: rgba(43, 42, 42, 0.945);
        }

        .TextoWhite {
            color: white;
            font-size: 13px;
            text-align: justify;
        }

        .navbar-expand-lg {
            background-color: rgb(65, 64, 64);
            justify-content: right;
        }

        .bottom {
            background-color: rgb(51, 77, 126);
            justify-content: center;
        }

        span {
            padding: 5px;
            display: inline-block;
        }


        .bg-danger {
            color: white;
        }

        .bg-info {
            color: white;
        }

        .bg-secondary {
            color: white;
        }

        #textVerde {
            color: green;
        }

        .titlePage {
            font-size: 18px;
            color: white;
        }

        .navbar a {
            color: white;
            font-size: 14px;
            justify-content: center;
            margin-right: 15px;
            margin-left: 15px;
            white-space: normal
        }

        .a:hover {
            transform: scale(1.05);
            font-size: 16px;
        }

        .imgBgHeader {
            filter: brightness(50%);
        }

        .btnHeader {
            display: inline-block;
            margin-right: 1px;
            font-size: 13px;
            margin-top: 10px;
        }

        /* Page Estudiantes */
        .integrantes {
            text-align: center;
            font-size: medium;
            color: darkcyan;
        }

        .titulo {
            text-align: center;
            font-size: xx-large;
            color: darkcyan
        }

        /* Cards -  Estilo para la tarjeta */
        .card {
            margin: 1em;
            width: 100%;
            /* Cambiamos esto a 80% para móviles */
            background-color: lightgray;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        /* Estilo para el cuerpo de la tarjeta */
        .card-body {
            padding: 20px;
        }

        /* Estilo para el pie de la tarjeta */
        .card-footer {
            text-align: center;
            padding: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .card:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

        .cardTask {
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            transition: 0.5s;
        }

        .cardTask:hover {
            --transform: translate(-0.1%, -0.1%);
            --animation: translate 2s linear;
            opacity: 1;
            transform: scale(1.02);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }

        .card-header {
            font-size: medium;
            --font-size: 20px;
            text-align: center;
            font-weight: bold;
            background-color:blueviolet;
        }

        /* Estilo para el encabezado de la tarjeta 
        .card-header1 {
            text-align: center;
            color: white;
            background-color: red;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
*/
        .card-text-task {
            margin-bottom: 0;
            /* Esto quita el espacio debajo de cada línea */
        }

        .card-header-PT {
            text-align: center;
            color:black;
            --background-color: red;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: initial;
        }

        .border-card {
            border-color: cornflowerblue;
        }
        .cardModal{
            margin: 1em;
            --width: 100%;
            border: 1rem;
            /* Cambiamos esto a 80% para móviles */
            background-color: beige;
            border-radius: 5px;
            --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }